<div class="col col-8">
    <button class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalUnidad">Nueva Unidad</button>
    <strong>Unidades</strong>
    <input type="text" class="form-control" name="filterUnidades" placeholder="Buscar..." [(ngModel)]="filterUnidades">
    
    <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Observaciones</th>
            <th scope="col"></th>            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let unidad of unidades | filter:filterUnidades | paginate: { itemsPerPage: 10, currentPage: pageActual }; index as i ">
           <th scope="row">{{i+1}}</th>
           <td>{{unidad.descripcion}}</td>
           <td>{{unidad.observaciones}}</td>
           <td>
              <button class="btn btn-light" style="margin: 2px" data-toggle="modal" data-target="#modalUnidad" (click)="PreUpdateUnidad(unidad)"><i class="far fa-edit"></i></button>
              <button class="btn btn-light" style="margin: 2px" data-toggle="modal" data-target="#eliminar" (click)="deleteUnidad(unidad.id)"><i class="far fa-trash-alt"></i></button>
          </td>
          </tr>        
        </tbody>           

      </table>

    <!--Paginación-->
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>    
  </div>
  <app-nueva-unidad></app-nueva-unidad>