<section class="row mt-5">
    <div class="container">
      <div class="row">
        <div class="col col-8">
          <!-- Columna 1-->
          <strong>Proveedores</strong>
          <!-- <button type="button" class="btn btn-primary btn-sm float-right mb-3" data-toggle="modal" data-target="#clienteModal">Nuevo</button> -->
          <input type="text" class="form-control" name="filterProveedores" placeholder="Buscar..." [(ngModel)]="filterProveedores">
          
          <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Razón Social</th>
                  <th scope="col">Documento</th>
                  <th scope="col">Celular</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col">E-Mail</th>
                  <th scope="col"></th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let proveedor of proveedores | filter:filterProveedores | paginate: { itemsPerPage: 1, currentPage: pageActual }; index as i ">
                 <th scope="row">{{i+1}}</th>
                 <td>{{proveedor.razonSocial}}</td>
                 <td>{{proveedor.nroDocumento}}</td>
                 <td>{{proveedor.celular}}</td>
                 <td>{{proveedor.telefono}}</td>
                 <td>{{proveedor.email}}</td>
                 <td>
                    <button class="btn btn-light" style="margin: 2px" data-toggle="modal" data-target="#edit" (click)="PreUpdateProveedor(proveedor)"><i class="far fa-edit"></i></button>
                    <button class="btn btn-light" style="margin: 2px" data-toggle="modal" data-target="#eliminar" (click)="deleteProveedor(proveedor.id)"><i class="far fa-trash-alt"></i></button>
                </td>
                </tr>        
              </tbody>           
  
            </table>
  
          <!--Paginación-->
          <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>    
        </div>
        
        <!--fin columna 1 -->
        
        <!-- Columna 2 -->
        <div class="col col-4"  >      
          <h5 class="modal-title" id="exampleModalLabel">
            {{ this.proveedoresServ.selectedProveedor.id ? 'Actualizar Proveedor' : 'Nuevo Proveedor' }}
          </h5>
          <form name="proveedorForm" #formProveedor="ngForm" (ngSubmit)="saveProveedor(formProveedor)">
            <input type="hidden" name="id" [(ngModel)]="this.proveedoresServ.selectedProveedor.id">
            <div class="form-group">
              <label for="proveeedor-razon-social">Razón Social</label>
              <input type="text" class="form-control" name="razonSocial" placeholder="Razón Social" [(ngModel)]="this.proveedoresServ.selectedProveedor.razonSocial">
            </div>
            <div class="form-group">
              <label for="proveedor-condicion-iva">Condición IVA</label>
              <select name="condIVA" class="form-control" [(ngModel)]="this.proveedoresServ.selectedProveedor.condIVA">
                <option value="0">No Inscripto</option>
                <option value="1">Monotributo</option>
                <option value="2">Resp. Inscripto</option>
              </select>
            </div>
            <div class="form-row">
              <div class="form-group col-md-5">
                <label for="proveedor-tipo-documento">Tipo Documento</label>
                <select name="tipoDocumento" class="form-control" [(ngModel)]="this.proveedoresServ.selectedProveedor.tipoDocumento">
                  <option value="0">DNI</option>
                  <option value="1">L. Cívica</option>
                  <option value="2">L. Enrolamiento</option>
                  <option value="2">Otro</option>
                </select>  
              </div>
              <div class="form-group col-md-7">
                <label for="proveedor-numero-documento">Nro Documento</label>
                <input type="text" class="form-control" name="nroDocumento" placeholder="20223334440" [(ngModel)]="this.proveedoresServ.selectedProveedor.nroDocumento">
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="proveedor-celular">Celular</label>
                  <input type="text" class="form-control" name="celular" placeholder="0385-150000000" [(ngModel)]="this.proveedoresServ.selectedProveedor.celular">
                </div>
                <div class="form-group  col-md-6">
                  <label for="inputDirección">Teléfono</label>
                  <input type="text" class="form-control" name="telefono" placeholder="0385-4270000" [(ngModel)]="this.proveedoresServ.selectedProveedor.telefono">
                </div>     
            </div>
            <div class="form-group">
              <label for="proveedor-email">Email</label>
              <input type="text" class="form-control" name="email" placeholder="nombre@dominio.com" [(ngModel)]="this.proveedoresServ.selectedProveedor.email">
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="proveedor-direccion">Cod. Postal</label>
                <input type="text" class="form-control" name="codPostal" placeholder="4200" [(ngModel)]="this.proveedoresServ.selectedProveedor.codPostal">
              </div>
              <div class="form-group col-md-8">
                <label for="proveedor-direccion">Dirección</label>
                <input type="text" class="form-control" name="direccion" placeholder="1234 Main St" [(ngModel)]="this.proveedoresServ.selectedProveedor.direccion">
              </div>
            </div>
            
            <div class="row">
                <div class="col text-center">
                 
                    <div class="btn-group mr-2">
                      <button type="submit" class="btn btn-primary btn-sm"  >Aceptar</button>                    
                    </div>
                    <div class="btn-group mr-2">
                      <button type="button" class="btn btn-secondary btn-sm" (click)="formProveedor.reset({})">Cancelar</button>                     
                    </div>                  
                  </div>
                
  
                
            </div>
          </form>
        </div>
      
      </div>
  
    </div>
  </section> 
  
  <!-- <app-nuevo></app-nuevo> -->