<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <!--<h3 class="nav-link" routerLink="/" routerLinkActive="active">Corralón VH</h3>-->
            <h3 class="nav-link" routerLink="home" routerLinkActive="active">Corralón VH</h3>
        </div>

        <ul class="list-unstyled components">
            <!--<p>Dummy Heading</p>-->
            <!--<li class="active">-->

            <!--<li>
                    <a href="#">About</a>
                </li>-->
            <li>
                <a href="#ventaSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                        class="fas fa-shopping-cart"></i> Ventas</a>
                <ul class="collapse list-unstyled" id="ventaSubmenu">
                    <li>
                        <a href="#">Venta</a>
                    </li>
                    <li>
                        <a href="#">Presupuesto</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#compraSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                        class="fas fa-shopping-cart"></i> Compras</a>
                <ul class="collapse list-unstyled" id="compraSubmenu">
                    <li>
                        <a href="#">Compra</a>
                    </li>
                    <li>
                        <a href="#">Presupuesto</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#prdSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                        class="fas fa-truck-loading"></i> Productos</a>
                <ul class="collapse list-unstyled" id="prdSubmenu">
                    <li>
                        <a href="#">Productos</a>
                    </li>
                    <li>
                        <a routerLink="/Marcas" routerLinkActive="active">Marcas</a>
                    </li>
                    <li>
                        <a href="#">Rubros</a>
                    </li>
                    <li>
                        <a href="#">Unidades</a>
                    </li>
                </ul>
            </li>
            <li>
                <a routerLink="/Clientes" routerLinkActive="active"><i class="fas fa-users"></i> Clientes</a>
            </li>
            <li>
                <a routerLink="/Proveedores" routerLinkActive="active"><i class="fas fa-user-tie"></i> Proveedores</a>
            </li>
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                        class="fas fa-cog"></i> Configuracion</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <!-- <li>
                        <a class="nav-link" routerLink="/documentos" routerLinkActive="active"> Tipos de Documento</a>
                    </li> -->
                </ul>
            </li>
        </ul>


    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span></span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!--<ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                              <a class="nav-link" routerLink="/TiposDocumento" routerLinkActive="active">
                                <i class="fas fa-user"></i> 
                                Nombre Usuario 
                              </a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" routerLink="/" routerLinkActive="active">
                               <i class="fas fa-door-open"></i>
                              Salir</a>
                          </li>
                        </ul> -->
                    <ul class="nav navbar-nav ml-auto">


                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Cuenta
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" routerLink="/Login" *ngIf="!auth.isOk">Login</a>
                                <a class="dropdown-item" routerLink="/Registro" *ngIf="!auth.isOk">Registro</a>
                                <a class="dropdown-item" (click)="auth.logOut()" *ngIf="auth.isOk">Salir</a>
                            </div>
                        </div>
                    </ul>                    

                </div>
            </div>
        </nav>

        <router-outlet></router-outlet>

    </div>
</div>