<div class="col col-8">
    <button class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalRubro">Nuevo Rubro</button>
    <strong>Rubros</strong>
    <input type="text" class="form-control" name="filterRubros" placeholder="Buscar..." [(ngModel)]="filterRubros">
    
    <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Observaciones</th>
            <th scope="col"></th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rubro of rubros | filter:filterRubros | paginate: { itemsPerPage: 10, currentPage: pageActual }; index as i ">
           <th scope="row">{{i+1}}</th>
           <td>{{rubro.descripcion}}</td>
           <td>{{rubro.observaciones}}</td>
           <td>
              <button class="btn btn-light" style="margin: 2px" data-toggle="modal" data-target="#modalRubro" (click)="PreUpdateRubro(rubro)"><i class="far fa-edit"></i></button>
              <button class="btn btn-light" style="margin: 2px" data-toggle="modal" data-target="#eliminar" (click)="deleteRubro(rubro.id)"><i class="far fa-trash-alt"></i></button>
          </td>
          </tr>        
        </tbody>           

      </table>

    <!--Paginación-->
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>    
  </div>
  <app-nuevo-rubro></app-nuevo-rubro>
  
